<div class="container-sm ">
    <div class="row">
        <div class="col">
            <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item"><a href="login">Login</a></li>
                    <li class="breadcrumb-item active" aria-current="page">User Sing Up</li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="border rounded-5">
        <section id="section1" class=" px-2 py-5 ">
            <div class="row d-flex justify-content-center">
                <div class="col-md-8 col-lg-7 col-xl-6">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
                        class="img-fluid" alt="Phone image">
                </div>
                <div class="col-md-10 col-lg-10 col-xl-5 col-10 offset-xl-1 ">
                    <form>
                        <!-- Email input -->
                        <h3 class="d-flex justify-content-center m-2">Sing Up</h3>
                        <div class="form-outline mb-4">
                            <label class="form-label" for="form1Example13">Your Name</label>
                            <input type="Name" id="form1Example13" class="form-control form-control-lg"
                                fdprocessedid="ka3zog">
                        </div>

                        <!-- Password input -->
                        <div class="form-outline mb-4">
                            <label class="form-label" for="form1Example23">Your Email</label>
                            <input type="Your Email" id="form1Example234" class="form-control form-control-lg"
                                fdprocessedid="s9getl">
                        </div>

                        <div class="form-outline mb-4">
                            <label class="form-label" for="form1Example23">Password</label>
                            <input type="password" id="form1Example235" class="form-control form-control-lg"
                                fdprocessedid="s9getl">
                        </div>

                        <div class="form-outline mb-4">
                            <label class="form-label" for="form1Example23">Repeat your password</label>
                            <input type="Repeat your password" id="form1Example236" class="form-control form-control-lg"
                                fdprocessedid="s9getl">
                        </div>
                        <!-- Submit button -->
                        <div class="d-flex justify-content-center">
                            <button type="submit" class="d-grid gap-2 col-7  btn btn-primary " style="margin-right: 3px;"
                                fdprocessedid="1d276">Signin</button>
                        </div>
                    </form>
                </div>
            </div>
        </section>

    </div>

</div>